body {
    margin: 0;    
   color: white;
}
@font-face {
    font-family: Fraunces;
    src: url(../fonts/Fraunces/static/Fraunces_144pt-Regular.ttf);
}
@font-face {
    font-family: manrope;
    src: url(../fonts/Manrope/Manrope-VariableFont_wght.ttf);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
nav{
    font-family: Fraunces;
}
.workit{
    background-color: #24053E;
    position:relative;
}
.workit img{
    width: 95.76px;
    height: 24.61px;
    margin-top: 61.5px;
    margin-left: 160px;
}
.access{
    font-family: manrope;
    font-size: 18px;
    font-weight: 700;
    line-height: 32.4px;

}
h1 h2{
    font-family:Fraunces;
    line-height: 80px;
    font-weight: 600;
}
.spring-left{
 float: left;
 
}
.spring-right{
    float:right;
  
}
.logo {
    font-size: 24px;
    font-weight: bold;
}

.apply-button {
    background-color: #845cf9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    position: relative;
}

 h1 {
    font-family: fraunces;
    font-size: 80px;
    font-weight: 600;
    line-height:80px ;
   
}

.learn-more-button {
    background-color: #44FFA1;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.phone-image {
    width: 767px;
    height: 441px;
    margin: 0 356px 0 356px;
    z-index: 1;
}

.test-section {
    background-color: white;
    color: #24053E;
    text-align: center;
    padding: 100px 20px;
}

.test-content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.person-image {
    width: 447px; ;
    height: 579px; ;
    margin-right: 40px;
    position: relative;
    flex-shrink: 0;
    z-index: 2;
}

.test-text {
   
    text-align: left;
    background-color: #24053E;
}
h2{
 font-family:  Fraunces;
 font-size: 56px;
 font-weight: 600;
 letter-spacing: 1px;
} 
p{
    font-family: manrope;
    font-weight: 400;
    font-size: 18px;
    line-height: 32.4px;
    max-width: 730px;
    padding: 0 64px 0 64px;

}
.apply-access-button {
    background-color: #44FFA1;
    color: #24053E;
    font-family: manrope;
    font-weight: 700;
    padding: 10px 20px;
    margin: 0 64px 64px 64px;
    border: 0;
}
.spring-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    text-align: center;
    padding: 20px;
}

.footer .logo-footer {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
