
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@font-face {
    font-family:Barlow_Semi_Condensed ;
    src: url(../fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf);
}
body{
    background-color: hsl(210, 46%, 95%);
    font-family: Barlow_Semi_Condensed;
}

.app{
display:flex;
flex-wrap:wrap;
gap: 32px;
padding: 0px;

}
.name img {
    border-radius: 30px;
    display:flex;
    height: 40px;
}
.name{
    display:flex;
    padding: 10px;
    gap: 15px;
    margin-top: 15px;
}
.name p{
    margin-left: 55px;
    margin-top: 20px;
    position:absolute;
    font-size: 13px;
}
.icon img{
    width: 104px;
    height: 102px;
    display:flex ;
    margin-left: 340px;
    position: absolute;

}

/* p{
    margin-left: 55px;
    margin-top: 20px;
    position:absolute;
    font-size: 13px;
    color:   hsla(0, 23%, 89%, 0.5);
} */
.daniel{
    background-color:#733FC8 ;
    width: 540px;
    border-radius: 10px;
    padding: 0px;
 .name{
    color:#FFFFFF
}
}
.card-one h6{
 font-size: 20px;
 font-weight: 600;
 line-height: 24px;
 color: #FFFFFF;
 margin: 0;
 padding: 0px 32px 0px 32px;
}
.card-one p{
  font-size: 13px;
  font-weight: 500px;
  line-height: 18px;
  color:#CFCFCF;
  opacity: 70%;
  padding: 0px 32px 32px 32px;
}
.jonathan{
    background-color:#48556A ;
    width: 255px;
    border-radius: 10px;
}
.card-two h6{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
    padding: 0px 32px 0px 32px;
   }
   .card-two p{
     font-size: 13px;
     font-weight: 500px;
     line-height: 18px;
     color:#fFfFfF;
     opacity: 70%;
     padding: 0px 32px;
   }
.jeanette{
   background-color:#FFFFFF;
   width: 255px;
   border-radius: 10px; 
}
.card-three h6{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #48556A;
    margin: 0;
    padding: 0px 32px 0px 32px;
   }
   .card-three p{
     font-size: 13px;
     font-weight: 500px;
     line-height: 18px;
     color:#48556A;
     opacity: 70%;
     padding: 0px 32px;
   }
.kira{
    background-color: #FFFFFF;
    width: 255px;
    border-radius: 10px;
}
.card-four h6{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #48556A;
    margin: 0;
    padding: 0px 32px 0px 32px;
   }
   .card-four p{
     font-size: 13px;
     font-weight: 500px;
     line-height: 18px;
     color:#48556A;
     opacity: 70%;
     padding: 0px 32px;
   }
.patrick{
 background-color:#19202D ;
 width:540px;
 border-radius: 10px;
}
.card-five h6{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #ECF2F8;
    margin: 0;
    padding: 0px 32px 0px 32px;
   }
   .card-five p{
     font-size: 13px;
     font-weight: 500px;
     line-height: 18px;
     color:#ffffff;
     opacity: 70%;
     padding: 0px 32px;
   }
  