/* *{
    margin: 0;
    padding: 0;
} */


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@font-face {
    font-family:Barlow_Semi_Condensed ;
    src: url(../fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf);
}
body{
    background-color: hsl(210, 46%, 95%);
    font-family: Barlow_Semi_Condensed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app{
display:grid;
grid-template-columns: 540px 255px 255px;
gap: 20px;
justify-content: center;
}
.name img {
    border-radius: 30px;
    display:flex;
    height: 40px;
}
.name{
    display:flex;
    padding: 10px;
    gap: 15px;
    margin-top: 15px;
    color: #FFFFFF;
}
.name p{
    margin-left: 55px;
    margin-top: 20px;
    position:absolute;
    font-size: 13px;
    opacity: 50%;
}
.name-one img {
    border-radius: 30px;
    display:flex;
    height: 40px;
}
.name-one{
    display:flex;
    padding: 10px;
    gap: 15px;
    margin-top: 15px;
    color: #48556a;
    gap: 20px;
}
.name-one p{
    margin-left: 55px;
    margin-top: 20px;
    position:absolute;
    font-size: 13px;
    opacity: 50%;
}
.icon img{
    width: 104px;
    height: 102px;
    display:flex ;
    margin-left: 340px;
    position: absolute;

}
.daniel{
    background-color:#733FC8 ;
  
    border-radius: 10px;
    padding: 0px;
    display: grid;
   

}
.card-one h6{
 font-size: 20px;
 font-weight: 600;
 line-height: 24px;
 color: #FFFFFF;
 margin: 0;
 padding: 0px 32px 0px 32px;
}
.card-one p{
  font-size: 13px;
  font-weight: 500px;
  line-height: 18px;
  color:#CFCFCF;
  opacity: 70%;
  padding: 0px 32px 32px 32px;
}
.jonathan{
    background-color:#48556A ;
    border-radius: 10px;
    
}
.card-two h6{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
    padding: 0px 32px 0px 32px;
   }
   .card-two p{
     font-size: 13px;
     font-weight: 500px;
     line-height: 18px;
     color:#fFfFfF;
     opacity: 70%;
     padding: 0px 32px;
   }
.jeanette{
   background-color:#FFFFFF;
   border-radius: 10px;
   display: grid;
   grid-row: 1/span; 
  

}
.card-three h6{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #48556A;
    margin: 0;
    padding: 0px 32px 0px 32px;
   }
   .card-three p{
     font-size: 13px;
     font-weight: 500px;
     line-height: 18px;
     color:#48556A;
     opacity: 70%;
     padding: 0px 32px;
   }
.kira{
    background-color: #FFFFFF;
    border-radius: 10px;
  
}
.kira{
    display: grid;
    grid-row: span 2;
}
.card-four h6{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #48556A;
    margin: 0;
    padding: 0px 32px 0px 32px;
   }
   .card-four p{
     font-size: 13px;
     font-weight: 500px;
     line-height: 18px;
     color:#48556A;
     opacity: 70%;
     padding: 0px 32px;
   }
.patrick{
 background-color:#19202D ;
 border-radius: 10px;
 width: 540px;
}
.card-five h6{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #ECF2F8;
    margin: 0;
    padding: 0px 32px 0px 32px;
   }
   .card-five p{
     font-size: 13px;
     font-weight: 500px;
     line-height: 18px;
     color:#ffffff;
     opacity: 70%;
     padding: 0px 32px;
   }
  /* @media (min-width:60rem){
    body{
        height: 100vh;
        align-items: center;
    }
    .app{
        max-width: 75rem;
        grid-template-columns: repeat(4,1fr);
        margin: auto;
        grid-template-areas: 
        "daniel daniel jonathan kira"
        "jeanette patrick patrick kira";
    }
    .app .daniel{
        grid-area: daniel;
    }
    .app .jonathan{
        grid-area: jonathan;

    }
    .app .kira{
        grid-area: kira;
    }
    .app .jeanette{
        grid-area: jeanette;
    }
    .app .patrick{
        grid-area: patrick;
    }
  } */